body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

thead {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

tbody {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}